@model IEnumerable<prjC349WebMVC.Models.AdvanceOY15>

@{
    ViewBag.Title = "AdvanceOY15";
}

<h2>@ViewBag.Title</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<style>
    .warning {
        color: red;
    }

    .warning {
        color: red;
    }
    /* 1280*1024解析度下的媒體查詢 */
    @@media only screen and (max-width: 1280px) and (max-height: 1024px) {
        #tb_todolist th:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(10)),
        #tb_todolist td:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(10)) {
            display: none; /* 隱藏非第1、3、4、和第10個欄位 */
        }
    }

    .custom_container {
        display: flex;
    }

    .left-div {
        width: 900px;
    }

    .float-div {
        margin-left:4px;
        flex-grow: 1;
    }

    .custom_table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        position: sticky;
        top: 0;
        background-color: #f5f5f5;
        font-weight: bold;
    }

        th:hover {
            color: blue;
            text-decoration: underline;
            cursor: pointer; /* 可選，將滑鼠游標改為手型 */
        }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #ffffcc;
    }

    th, td {
        border: 1px solid #ddd;
    }
</style>
@if (Session["isLogin"] == null)
{

    if (Session["LoginFail"] != null && Session["LoginFail"].ToString() == true.ToString())
    {
        <div class="warning">
            <label>警告:登入失敗 請確認帳號密碼輸入正確，多次失敗EIP會鎖定帳號</label>
        </div>
    }
    <form method="post" action="~/ToolBox/LogIn">
        <div>
            <label>代理模式：未啟動</label>
        </div>
        <div>
            <input id="userId" name="userId" type="text" placeholder="職工編號" value=@Session["userId"] required />
            <input id="userPassword" name="userPassword" type="password" placeholder="密碼" value=@Session["userPassword"] required />
            <select name="warehouse" required>
                <option value="86">86庫</option>
                <option value="87">87庫</option>
            </select>
            <input type="hidden" name="operation" value=@ViewBag.Title />
            <input type="submit" value="登入啟動" class="btn btn-warning" />
        </div>
    </form>
}
else
{


    <div class="row">
        <div class="col-1">
            <label>代理模式：啟動</label>
        </div>
    </div>
    <div class="custom_container">
        <div class="left-div">
            <form method="post" action="~/ToolBox/LogOut">
                <input type="submit" value="登出" class="btn btn-warning" />
            </form>
        </div>
        <div class="float-div">
            <div class="custom_container">
                <div>
                    <form method="post" action="~/ToolBox/AdvanceOY15">
                        <div class="custom_container">
                            <div>
                                <input type="submit" value="更新資料" class="btn btn-warning" />
                            </div>
                            <div class="float-div">
                                <select name="warehouse" required>
                                    @{ if (Session["warehouse"].ToString() == "86")
                                        {
                                            <option value="86" selected>86庫</option>
                                            <option value="87">87庫</option>

                                        }
                                        else if (Session["warehouse"].ToString() == "87")
                                        {

                                            <option value="86">86庫</option>
                                            <option value="87" selected>87庫</option>
                                        }
                                        else
                                        {
                                            <option value="86">86庫</option>
                                            <option value="87">87庫</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                    @*<input type="text" id="searchInput" placeholder="Search...">*@
            </div>
        </div>
    </div>
}

<div class="custom_container">
    <div class="left-div">
        @if (Session["isLogin"] != null)
        {
            <iframe id="oy05" class="preview-box" src="http://crane.csc.com.tw/mis/oy_mgr_website/OY05/OYAO05.aspx?UserId=@ViewBag.userId" width="900" height="600"></iframe>
        }
    </div>
    <div class="float-div">
        <table class="custom_table" id="tb_todolist">
            @if (Model != null)
            {
                <tr>
                    <th>連結</th>
                    <th>儲區</th>
                    <th>儲位</th>
                    <th>代碼</th>
                    <th>Label</th>
                    <th>狀態</th>
                    <th>重量</th>
                    <th>寬度</th>
                    <th>交期</th>
                    <th>分類</th>
                    <th>訂單狀態</th>
                </tr>
                string src = "";
                foreach (prjC349WebMVC.Models.AdvanceOY15 item in Model)
                {
                    <tr>
                        @{src = $@"http://crane.csc.com.tw/mis/oy_mgr_website/OY05/OYAO05.aspx?STOCK={item.warehouse}&PART={item.area}";
                        }
                        <td><button onclick=change_iframe_src("@src") class="btn btn-primary">go</button></td>
                        <td><a target="_blank" href=@src>@item.area </a></td>
                        <td style="color:red">@item.position</td>
                        <td>@item.coil_code</td>
                        <td>@item.label</td>
                        <td>@item.state</td>
                        <td>@item.weight</td>
                        <td>@item.width</td>
                        <td>@item.order_delivery</td>
                        <td>@item.catagory</td>
                        <td>@item.is_order_finish</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>


<script>
    //導航到oy05
    function change_iframe_src(src) {
        var my_iframe = document.getElementById('oy05');
        my_iframe.src = src;
    };

    // 搜尋表格
    function searchTable() {
        setTimeout(function () {
            const input = document.getElementById("searchInput");
            const filter = input.value.toUpperCase();
            const table = document.getElementById("tb_todolist");
            const rows = table.getElementsByTagName("tr");

            for (let i = 1; i < rows.length; i++) {
                let shouldHideRow = true;
                const cells = rows[i].getElementsByTagName("td");

                for (let j = 0; j < cells.length; j++) {
                    const cellText = cells[j].innerText.toUpperCase();

                    if (cellText.includes(filter)) {
                        shouldHideRow = false;
                        break;
                    }
                }

                rows[i].style.display = shouldHideRow ? "none" : "";
            }
        }, 200);
    }


    // 排序表格
    function sortTable(columnIndex) {
        const table = document.getElementById("tb_todolist");
        const rows = table.rows;
        const isAscending = table.getAttribute("data-sort-order") === "asc";
        const compare = (a, b) => {
            const valueA = a.cells[columnIndex].innerText;
            const valueB = b.cells[columnIndex].innerText;
            return isAscending ? valueA.localeCompare(valueB) : valueB.localeCompare(valueA);
        };

        // 將tbody中的tr轉為array以便排序
        const arr = Array.from(rows).slice(1);
        arr.sort(compare);

        // 重新設置tbody中的排序後的tr
        for (let i = 0; i < arr.length; i++) {
            table.tBodies[0].appendChild(arr[i]);
        }

        // 切換排序方式
        table.setAttribute("data-sort-order", isAscending ? "desc" : "asc");
    }

    // 綁定事件
/*    document.getElementById("searchInput").addEventListener("keyup", searchTable);*/
    document.querySelectorAll("#tb_todolist th").forEach((th, i) =>
        th.addEventListener("click", () => sortTable(i))
    );
</script>