<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            @Html.ActionLink("C349WebMVC", "Index", "RVI", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @{
                    try
                    {
                        if (Request.Cookies["name"].Value != null)
                        {
                            <label>您好,@Server.UrlDecode(Request.Cookies["name"].Value)</label>
                        }
                    }
                    catch
                    {
                        <label> 尚未登入EIP </label>
                        <a href="https://eip.csc.com.tw/SSO/DSS0/DSAOS0.aspx" target="_blank"> 登入 </a>
                    }
                }
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown-item" >
                    <a href="http://dept.csc.com.tw/MIS/C34/C34Web/C34X.aspx">C34工廠日誌</a>
                </li>
                @{
                    try
                    {
                        if (Request.Cookies["dept"].Value=="C349"&& Request.Cookies["uid"].Value != "213298")
                        {
                            <li class="nav-item">@Html.ActionLink("LiveUpdateOY07", "LiveUpdateOY07", "Toolbox", new { }, new { @class = "dropdown-item" })</li>
                            <li class="nav-item">@Html.ActionLink("遠端檢放", "Index", "RVI_CreateWithEPSLOG", new { }, new { @class = "dropdown-item" })</li>
                        }
                    }
                    catch { }
                }



                <!--<li class="nav-item">
        @*<a class="nav-link active" aria-current="page" href="#">Article</a>*@
    <!--</li>-->
                @*<li class="nav-item">
            @Html.ActionLink("員工管理", "Index", "Home", "", new { @class = "av-link active" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("文章管理", "Index", "Article", "",new { @class = "av-link active" })
        </li>*@
                @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                員工管理
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>@Html.ActionLink("員工管理", "Index", "Home",new { }, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("員工新增", "Create", "Home",new { }, new { @class = "dropdown-item" })</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>*@
                @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                文章管理
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>@Html.ActionLink("文章管理", "Index", "Article",new { }, new { @class = "dropdown-item" })</li>
                <li>@Html.ActionLink("文章新增", "Create", "Article",new { }, new { @class = "dropdown-item" })</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>*@
                @*<li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
        </li>*@
            </ul>
                @*<form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>*@

            </div>
        </div>
    </nav>

    <div class="body-content">

        @RenderBody()
        @*@RenderSection("Validation", false)*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - C349WebMVC</p>
        </footer>
    </div>


    @RenderSection("scripts", false)


</body>
</html>